<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piggy.lwm.mapper.InventoryMapper">

    <resultMap type="com.piggy.lwm.domain.InventoryEntity" id="InventoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="goodsId" column="goods_id" jdbcType="VARCHAR"/>
        <result property="warehouseId" column="warehouse_id" jdbcType="VARCHAR"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="lastUpdated" column="last_updated" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseSql">
        select id,
               goods_id,
               warehouse_id,
               quantity,
               last_updated
        from inventory
        where del_mark = 0
    </sql>
    <sql id="condition">
        <if test="inventory.id != null">
            and id = #{inventory.id}
        </if>
        <if test="inventory.goodsId != null and inventory.goodsId != ''">
            and goods_id = #{inventory.goodsId}
        </if>
        <if test="inventory.warehouseId != null and inventory.warehouseId != ''">
            and warehouse_id = #{inventory.warehouseId}
        </if>
        <if test="inventory.quantity != null">
            and quantity = #{inventory.quantity}
        </if>
        <if test="inventory.lastUpdated != null and inventory.lastUpdated != ''">
            and last_updated = #{inventory.lastUpdated}
        </if>
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="InventoryMap">
        <include refid="baseSql"></include>
        and id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="InventoryMap">
        <include refid="baseSql"></include>
        <include refid="condition"></include>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from inventory
        where del_mark = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="goodsId != null and goodsId != ''">
            and goods_id = #{goodsId}
        </if>
        <if test="warehouseId != null and warehouseId != ''">
            and warehouse_id = #{warehouseId}
        </if>
        <if test="quantity != null">
            and quantity = #{quantity}
        </if>
        <if test="lastUpdated != null and lastUpdated != ''">
            and last_updated = #{lastUpdated}
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into inventory(goods_id, warehouse_id, quantity, last_updated)
        values (#{goodsId}, #{warehouseId}, #{quantity}, #{lastUpdated})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into inventory(goods_id, warehouse_id, quantity, last_updated)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.goodsId}, #{entity.warehouseId}, #{entity.quantity}, #{entity.lastUpdated})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into inventory(goods_id, warehouse_id, quantity, last_updated)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.goodsId}, #{entity.warehouseId}, #{entity.quantity}, #{entity.lastUpdated})
        </foreach>
        on duplicate key update
        goods_id = values(goods_id)warehouse_id = values(warehouse_id)quantity = values(quantity)last_updated =
        values(last_updated)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update inventory
        <set>
            <if test="goodsId != null and goodsId != ''">
                goods_id = #{goodsId},
            </if>
            <if test="warehouseId != null and warehouseId != ''">
                warehouse_id = #{warehouseId},
            </if>
            <if test="quantity != null">
                quantity = #{quantity},
            </if>
            <if test="lastUpdated != null and lastUpdated != ''">
                last_updated = #{lastUpdated},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <update id="deleteById">
        update inventory
        set del_mark = 1
        where id = #{id}
    </update>

</mapper>

